<h1><%= t ".title" %></h1>

<table id = "tbl_lsusercourse">
  <thead>
    <tr>
      <th><%= t ".index" %></th>
      <th><%= t ".course.name" %></th>
      <th><%= t ".course.start_date"%></th>
      <th><%= t ".course.end_date"%></th>
      <th><%= t ".course.action"%></th>

    </tr>
  </thead>
  <tbody>
    <% @courses.each_with_index do |course, index|%>
      <tr>
        <td class="col-md-1"><%= index + 1 %></td>
        <td><%= course.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td> Action</td>
      </tr>
    <% end %>
  </tbody>
</table>
